<%= render 'spree/shared/error_messages', :target => @supplier %>
<h1><%= t("new_supplier") %></h1>
<%= form_for [:admin, @supplier] do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
<% end %>
